:root {
    --primary: #c5230a;
    --secondary: #eafbe2;
    --tertiary: #9bffdf;
    --light-dark: #6d0303;
    --dark: #170000;
}

body {
    background-color: var(--secondary);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--dark);
}

#header {
    background-color: var(--primary);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:var(--dark);
}

#manageCard,
#enginCard,
#intCard {
        margin: 10px 10px 5px 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 10px solid var(--dark);
        border-radius: var(--tertiary);
        font-size:larger;
}

#manageHead,
#enginHead,
#intHead {
    font-size:larger;
    color: var(--light-dark);
}
h4,
h3 {
    font-weight: bolder;
    font-size:larger;
}

#manageBody,
#enginBody,
#intBody {
    font-size: large;
    font-weight: bold;
    color:var(--dark);
}